<div>
  <h5>Login</h5>
</div>

<div class="row">
  <div class="input-field col s12">
    <input id="email" type="email" class="validate" [(ngModel)]="usuario.email">
    <label for="email" class="active">Email</label>
  </div>
</div>
<div class="row">
  <div class="input-field col s12">
    <input id="password" type="password" class="validate" [(ngModel)]="usuario.password">
    <label for="password" class="active">Password</label>
  </div>
</div>
<button class="btn waves-effect waves-light" type="submit" name="action"
  (click)="fazerLogin()">Login
  <i class="material-icons right">send</i>
</button>
